{% extends 'base.html' %}
{% block content %}
    <div class="chat-box">
        <div class="row mr-top-30">
            <div class="col-md-3">
                <div class="client-choose-sidebar">
                    <div class="list-group">
                        {% for user in users %}
                                 <a username="{{ user.username }}" id="{{ user.pk }}"  href="#" class="list-group-item client-choose-sidebar-item">
                                     {{ user.username }}
                                     <span id="message_to_read_{{ user.pk }}" class="badge"></span>
                                 </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="messages-box">
                    {% for user in users %}
                        {% if user.username != request.user.username %}
                              <textarea  readonly class="message-box-area" style="display:none" id="message_box_{{ user.pk }}" cols="67" rows="20"></textarea>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-success">Выйти</button>
                    </a>
            </div>
            <div class="col-md-7">
                <input id="chat-message-input" type="text" class="form-control" placeholder="Написать сообщение">
            </div>
            <div class="col-md-2">
                <button id="chat-message-submit" type="button" class="btn btn-success">Отправить</button>
            </div>
        </div>
    </div>
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollo University, Delhi, India Test</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>We work directly with our designers and suppliers,
                    and sell direct to you, which means quality, exclusive
                    products, at a price anyone can afford.</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Написать сообщение" />
              <button id="chat-message-submit" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content%}
{% block js %}
<script>
{% extends 'base.html' %}
{% block content %}
<h3 class=" text-center">Messaging</h3>
<div id="chatErrors">

</div>
<div class="messaging">
  <div class="inbox_msg">
    <div class="inbox_people">
      <div class="headind_srch">
        <div class="recent_heading">
          <h5>{{ request.user.username }} {{ request.user.mobile_phone }}</h5>
        </div>
      </div>
      <div class="inbox_chat">
          {% for chat, messages in user_chats.items %}
                <div id="{{ chat }}" username="
                  {% if messages.0.user1.pk != request.user.pk %}
                    {{ messages.0.user1.username }}
                  {% else %}
                    {{ messages.0.user2.username }} {% endif %}" class="chat_list client-choose-sidebar-item">
                  <div class="chat_people">
                    <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="chat_ib">
                      <h5>
                        {% if messages.0.user1.pk != request.user.pk %}
                          {{ messages.0.user1.username }}
                        {% else %}
                          {{ messages.0.user2.username }}
                        {% endif %}<span class="chat_date">Dec 25</span></h5>
                      <p>Test, which is a new approach to have all solutions
                        astrology under one roof.<span id="message_to_read_{{ chat }}" class="badge"></span></p>
                    </div>
                  </div>
                </div>
          {% endfor %}
      </div>
    </div>
    <div class="mesgs">
        {% for chat, messages in user_chats.items %}
              <div style="display:none!important" id="message_box_{{ chat }}" class="msg_history">
                {% for message in messages %}
                    {% if message.index > 0 %}
                      {% if message.sender == user_pk %}
                        <div msg_index="{{ message.index }}" class="outgoing_msg">
                          <div class="sent_msg">
                            <p>{{ message.message }}</p>
                            <span class="time_date"> {{ message.datetime }}</span></div>
                        </div>
                      {% else %}
                        <div msg_index="{{ message.index }}" class="incoming_msg">
                          <div class="received_msg">
                            <div class="received_withd_msg">
                              <p>{{ message.message }}</p>
                              <span class="time_date"> {{ message.datetime }}</span></div>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                {% endfor %}
              </div>
        {% endfor %}
      <div class="type_msg">
        <div class="input_msg_write">
          <input id="chat-message-input"  type="text" class="write_msg" placeholder="Написать сообщение" />
          <button id="chat-message-submit"  class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-md-offset-8 col-md-1">
        <a href="{% url 'logout' %}">
            <button type="button" class="btn btn-success">Выйти</button>
        </a>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addFriendModal">
            Добавить друга
        </button>
    </div>
</div>
{% endblock content%}

{% block modal %}
<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Добавить друга</h4>
          </div>
          <div class="modal-body">
              <h4>Пример ввода: 380955081131</h4>
              <form role="form">
              <div class="form-group">
                <label for="mobilePhone">Phone</label>
                <input required type="phone" class="form-control" id="mobilePhone" placeholder="Номер телефона">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button id="add_friend" type="button" class="btn btn-primary">Найти и добавить</button>
          </div>
        </div>
    </div>
</div>
{% endblock modal%}

{% block js %}
<script>
    receiver_id = '';

    sender_id = {{ request.user.pk }};
    function send_ajax_request(request_url, data, success_func) {
            $.ajax({
                url: request_url,
                type: 'POST',
                dataType: 'json',
                data: data,
                success: function(ajax_response) {
                    success_func(ajax_response);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                       console.log(xhr.status);
                    console.log(thrownError);
                }
            });
    }

    function resetSidebarActive() {
        $('.client-choose-sidebar-item').each(function( index ) {
          $( this ).removeClass('active_chat');
        });
    }
    function hideAllMessageBox() {
        $('.msg_history').each(function( index ) {
          $( this ).css('display', 'none');
        });
    }
    function showUserMessageBox(chat_key) {
        $('#message_box_' + chat_key).css('display', 'block');
    }
    function wrappMessageIncoming(message) {
        return '<div class="incoming_msg">' +
                      '<div class="received_msg">' +
                        '<div class="received_withd_msg">' +
                          '<p>' + message + '</p>' +
                          '<span class="time_date">' + new Date().toISOString() + '</span></div>' +
                      '</div>' +
                    '</div>';
    }
    function wrappMessageOutgoing(message) {
        return '<div class="outgoing_msg">' +
          '<div class="sent_msg">' +
            '<p>' + message + '</p>' +
            '<span class="time_date">' + new Date().toISOString() + '</span> </div>' +
        '</div>';
    }
    function wrapError(message) {
        var html = '<div class="alert alert-danger">' + message + '</div>';
        return html;
    }
    function wrappNewFriend(data) {
       return '<div id="'+data['chat_key']+'" username="'+data['username']+'" class="chat_list client-choose-sidebar-item">' +
                  '<div class="chat_people">'+
                    '<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>' +
                    '<div class="chat_ib">' +
                      '<h5>' + data['user1_data']['username'] +
                        '<span class="chat_date">Dec 25</span></h5>' +
                      '<p>Test, which is a new approach to have all solutions'  +
                        'astrology under one roof.<span id="message_to_read_' + data['chat_key'] + '" class="badge"></span></p>' +
                    '</div>' +
                  '</div>' +
                '</div>';
    }
    function wrapMsgBox(data) {
        return '<div style="display:none!important" id="message_box_' + data['chat_key'] +'" class="msg_history"></div>'
    }
    function addFriendResponse(data) {
        console.log(data);
        if(data['status'] == 'created') {
            var innerHTML = $('.inbox_chat').html();
            var newFriendHTML = wrappNewFriend(data);
            innerHTML += newFriendHTML;
            $('.inbox_chat').html(innerHTML);
            $('.mesgs').html(wrapMsgBox(data) + $('.mesgs').html());
            $('#addFriendModal').modal('hide');
            $('.client-choose-sidebar-item').on('click', function(event) {
            event.preventDefault();
            chat_key = $(this).attr('id');
            resetSidebarActive();
            $(this).addClass('active_chat');
            $('#message_to_read_' + chat_key).text('') ;
            hideAllMessageBox();
            showUserMessageBox(chat_key);
             document.querySelector('#chat-message-input').onkeyup = function(e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };
            document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var active_chat =$('.active_chat').attr('id');
        if(active_chat ) {
        chatSocket.send(JSON.stringify({
            'message': message,
            'chat_key': active_chat,
            'sender_id': sender_id
        }));
            messageInputDom.value = '';
        } else {
            console.log('Please choose receiver');
        }
    };
        });
        }
        if(data['status'] == 'fail') {
            $('#addFriendModal').modal('hide');
            var innerHTML = '';
            data['messages'].forEach(function(message) {
               console.log(message);
               innerHTML += wrapError(message);
            });
            $('#chatErrors').html(innerHTML);
            $('#chatErrors').show();
            $('#chatErrors').fadeOut(10000);
        }
    }
    $(document).ready(function(){
        $('#add_friend').on('click', function() {
            var data = {
                'mobile_phone1': $('#mobilePhone').val(),
                'mobile_phone2': "{{ request.user.mobile_phone }}",
            };
            var url = "{% url 'add_friend' %}";
            send_ajax_request(url, data, addFriendResponse);
        });
        $('.client-choose-sidebar-item').on('click', function(event) {
            event.preventDefault();
            chat_key = $(this).attr('id');
            resetSidebarActive();
            $(this).addClass('active_chat');
            $('#message_to_read_' + chat_key).text('') ;
            hideAllMessageBox();
            showUserMessageBox(chat_key);
        });
    });

    var userID = {{ request.user.pk }};
/////////////////////////////////////////////
    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + userID + '/');
///////////////////////////////////////////
    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        var from_username_id = data['userID'];
        var chat_key = data['chat_key'];
        if (from_username_id == sender_id ) {
            var html = wrappMessageOutgoing(message);
            var el = document.querySelector('#message_box_' + chat_key);
            el.innerHTML += html;
        } else {
            var count = $('#message_to_read_' + from_username_id).text();
            if (count == '') {
                $('#message_to_read_' + from_username_id).text('1');
            } else {
                count = parseInt(count, 10);
                count += 1;
                $('#message_to_read_' + from_username_id).text(count);
            }
            var html = wrappMessageIncoming(message);
            var el = document.querySelector('#message_box_' + chat_key);
            el.innerHTML += html;
            scrollDown(chat_key);
        }

    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };
    function scrollDown(chat_key) {
            $('#message_box_' + chat_key).scrollTop($('#message_box_' + chat_key).prop("scrollHeight"));
    }

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var active_chat =$('.active_chat').attr('id');

        if(active_chat ) {
        scrollDown(active_chat);

        chatSocket.send(JSON.stringify({
            'message': message,
            'chat_key': active_chat,
            'sender_id': sender_id
        }));
            messageInputDom.value = '';
        } else {
            console.log('Please choose receiver');
        }
    };

    //chat factory
    function createChat(user_id) {
      var chat = {
        init: function () {
          this.user_id = user_id;
          this.chat_socket = new WebSocket(
                  'ws://' + window.location.host +
                  '/ws/chat/' + user_id + '/');
          this.add_events();
        },
        add_events: function() {
          this.chat_socket.onmessage = this.onMessage;
          chatSocket.onclose = this.onClose;
          $('#chat-message-submit').on('click', this.sendMessage);
          $('#chat-message-input').on('keyup', function(e) {
              if (e.keyCode === 13) {  // enter, return
                  $('#chat-message-submit').click();
              }
          });
          $('.client-choose-sidebar-item').on('click', this.chooseSidebarItem);
        },
        wrappMessageOutgoing: function(message) { // TODO change this function without html code
          return '<div class="outgoing_msg">' +
                  '<div class="sent_msg">' +
                    '<p>' + message + '</p>' +
                    '<span class="time_date">' + new Date().toISOString() + '</span> </div>' +
                  '</div>';
        },
        wrappMessageIncoming: function(message) { // TODO change this function without html code
            return '<div class="incoming_msg">' +
                      '<div class="received_msg">' +
                        '<div class="received_withd_msg">' +
                          '<p>' + message + '</p>' +
                          '<span class="time_date">' + new Date().toISOString() + '</span></div>' +
                      '</div>' +
                    '</div>';
        },
        scrollMessageBoxDown: function(chat_key) {
          var message_box = $('#message_box_' + chat_key);
          var scroll_height = message_box.prop("scrollHeight");
          message_box.scrollTop(scroll_height);
        },
        onMessage: function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var sender_id = data['user_id'];
            var chat_key = data['chat_key'];
            if (sender_id == this.user_id ) { // if sender is current user this is outgoing message
                var message_item = this.wrappMessageOutgoing(message);
            } else {
                var message_item = this.wrappMessageIncoming(message);
            }
            var message_box = $('#message_box_' + chat_key);
            var messages = message_box.html() + message_item;
            message_box.html(messages);
            this.scrollMessageBoxDown(chat_key);
        },
        onClose: function(e) {
            console.error('Chat socket closed unexpectedly');
        },
        sendMessage: function(e) {
            var message_input = $('#chat-message-input');
            var message = message_input.val();
            var active_chat = $('.active_chat').attr('id');
            if(active_chat) {
                this.chat_socket.send(JSON.stringify({
                    'message': message,
                    'chat_key': active_chat,
                    'sender_id': this.user_id
                }));
                message_input.val('');
            } else {
                console.log('Please choose receiver');
            }
        },
        chooseSidebarItem: function(event) {
            event.preventDefault();
            chat_key = $(event.target).attr('id');
            this.resetSidebarActive();
            this.hideAllMessageBox();
            $(this).addClass('active_chat');
            this.showChatMessageBox(chat_key);
        },
        chat_socket: none,
        user_id: none
      }
      return chat;
    }
</script>
{% endblock js %}

</script>
{% endblock js %}
